<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Properties>
        <Property name="basePath"><value>sprintLogs</value> </Property>
    </Properties>/
 
    <Appenders>
        <RollingFile name="fileLogger" fileName="${basePath}/SprintsLogs.log" filePattern="${basePath}/SprintsLogs-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] ------ [%t] %c{1}:%L - %msg%n</pattern>
            </PatternLayout>
            <Policies>
            	<SizeBasedTriggeringPolicy size="5 MB" />
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>
 
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout   pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] ------ [%t] %c{1}:%L - %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.sprints.services" level="debug" additivity="true">
            <appender-ref ref="fileLogger" level="debug" />
        </Logger>
        <Root level="debug" additivity="false">
            <appender-ref ref="console" />
        </Root>
    </Loggers>
</Configuration>
